$font = '~assets/fonts/Bebas-Neue';

@font-face
    font-family 'Bebas Neue'
    src url($font + '/Bebas-Neue-100.woff2') format('woff2')
    font-weight 100

@font-face
    font-family 'Bebas Neue'
    src url($font + '/Bebas-Neue-200.woff2') format('woff2')
    font-weight 200

@font-face
    font-family 'Bebas Neue'
    src url($font + '/Bebas-Neue-300.woff2') format('woff2')
    font-weight 300

@font-face
    font-family 'Bebas Neue'
    src url($font + '/Bebas-Neue-400.woff2') format('woff2')
    font-weight 400

@font-face
    font-family 'Bebas Neue'
    src url($font + '/Bebas-Neue-700.woff2') format('woff2')
    font-weight 700
