*
    box-sizing border-box
    font-family 'Open Sans', sans-serif
    transition .15s all
    user-select none

.adaptive
    margin 0 auto
    width 720px

@media (min-width: 1300px)
    .adaptive
        width 1200px

@media (min-width: 1600px)
    .adaptive
        width 1500px

@media (min-width: 1900px)
    .adaptive
        width 1600px