$alizarin       = #E74C3C
$asbestos       = #7F8C8D
$black          = #000000
$cloud          = #ECF0F1
$concrete       = #95A5A6
$pomegranate    = #C0392B
$silver          = #BDC3C7
$wetasphalt     = #34495e